* {
  box-sizing: border-box;
}

/* Set a background color */
body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 130%;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #FF9F55;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -16px;
  background-color: white;
  border: 6px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place odd container to the left */
.container:nth-child(odd) {
	left: 0;
}

/* Place even container to the right */
.container:nth-child(even) {
	left: 50%;
}

/* Add arrows to the odd/left container (pointing right) */
.container:nth-child(odd)::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the even/right container (pointing left) */
.container:nth-child(even)::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the even/right side */
.container:nth-child(even)::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 10px 20px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 48em wide, ie. Small devices in Bootstrap 4 */
@media all and (max-width: 47.9em) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }
  
  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
 
 /* Make sure that all arrows are pointing leftwards */
  .container:nth-child(even)::before, .container:nth-child(odd)::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
 
 /* Make sure all circles are at the same spot */
  .container:nth-child(even)::after, .container:nth-child(odd)::after {
    left: 15px;
  }
  
 /* Make all right containers behave like the left ones */
  .container:nth-child(even) {
    left: 0%;
  }
 
 }

/* Additional styling */ 
h1 { color: white; text-align: center; border-bottom: 5px solid #FF9F55; margin-bottom: 0; padding: 5px 0px 10px; line-height: 130%; }
hr { margin: 0; padding: 0; border: 0; border-bottom: 5px solid #FF9F55; }
q { font-style: italic; font-weight: bold; color: #B3AB3B; }
abbr { text-decoration: none; border-bottom: 1px dashed #474e5d; }
.container img { max-width: 100%; padding-bottom: 6px; }
.container { min-width: 280px; }
.container:last-child { padding-bottom: 20px;  }
.content h2 { padding: 5px 0 2px 0; margin: 0; color: black; /*text-shadow: 1px 1px 2px #474e5d;*/ }
.content p { padding: 5px 0 10px; margin: 0; }
.content a { }
body > p { color: white; font-size: small; }
body > p > a { color: white; }
ul { margin: 0; padding: 0 0 0 20px; }

































